/* - - - - - - - - - - - - - - - - - - - - - - - -
GENERAL
- - - - - - - - - - - - - - - - - - - - - - - - */

.wrap-hero {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap-project {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.card {
  border: none;
  box-shadow: 2px 2px 8px grey;
  border-radius: 5px;

}

.thumbnail {
  min-height: 280px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - -
NAV - MOBILE
- - - - - - - - - - - - - - - - - - - - - - - - */







/* - - - - - - - - - - - - - - - - - - - - - - - -
NAV - DESKTOP
- - - - - - - - - - - - - - - - - - - - - - - - */
.nav-desktop {
  color: rgba(255, 255, 255, 0.5);
  background-color: #226;
  height: 60px;
  padding: 0;
  background-image: url("../img/low_contrast_linen.png");
}

.site-logo {
  color: white;
  line-height: 80px;
  margin: 0;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.menu > li > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}


/* - - - - - - - - - - - - - - - - - - - - - - - -
HERO
- - - - - - - - - - - - - - - - - - - - - - - - */
.hero {
  color: rgba(255, 255, 255, 0.8);
  background-color: #999;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("../img/low_contrast_linen.png");
}
 .image {
   max-width: 135px;
   max-height: 300px;
   border-radius: 20px;
   box-shadow: 2px 2px 8px black;
 }
a .button {
  background-color: transparent;
}


/* - - - - - - - - - - - - - - - - - - - - - - - -
 TEST
 - - - - - - - - - - - - - - - - - - - - - - - - */

.portfolio-hero-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  background-image: url("../img/low_contrast_linen.png");
  position: relative;
  padding: 2rem 0;
}

.portfolio-hero-header-description {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.portfolio-hero-header-description li {
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap;
}

.portfolio-hero-header-description li:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 5px;
}

.portfolio-hero-header-description li:first-child:before {
  content: "";
}

.portfolio-hero-header-menu {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  background-color: transparent;
}

.portfolio-hero-header-menu li {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding-top: 1.25rem;
}

.portfolio-hero-header-menu li a {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}




/* - - - - - - - - - - - - - - - - - - - - - - - -
MAIN SECTION
- - - - - - - - - - - - - - - - - - - - - - - - */
.main {
  padding: 40px 0px;
}








/* - - - - - - - - - - - - - - - - - - - - - - - -
FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  background-color: #333;
  padding: 40px 0px;
}
footer a {
  display: block;
}



/* - - - - - - - - - - - - - - - - - - - - - - - -
MEDIA QUERY
- - - - - - - - - - - - - - - - - - - - - - - - */

/*@media (max-width: 639px) {

  .nav-desktop {
    display: none;
  }
}*/
