/* - - - - - - - - - - - - - - - - - - - - - - - -
GENERAL
- - - - - - - - - - - - - - - - - - - - - - - - */

.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}





/* - - - - - - - - - - - - - - - - - - - - - - - -
NAV
- - - - - - - - - - - - - - - - - - - - - - - - */









/* - - - - - - - - - - - - - - - - - - - - - - - -
HERO
- - - - - - - - - - - - - - - - - - - - - - - - */
.hero {
  background-color: #999;
  padding: 40px 0px;
  height: 400px;
}





/* - - - - - - - - - - - - - - - - - - - - - - - -
MAIN SECTION
- - - - - - - - - - - - - - - - - - - - - - - - */
.main {
  padding: 40px 0px;
}








/* - - - - - - - - - - - - - - - - - - - - - - - -
FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  background-color: #333;
  padding: 40px 0px;
}
footer a {
  display: block;
}
